<%- include("templates/cabecera", { tituloPagina: 'Página de inicio' }) %>

    <body>
        <h1 class="text-primary">index ejs</h1>
        <h2>
            <%= titulo %>
        </h2>
    </body>

<%- include('templates/footer') %>